* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: normal;
    font-weight: normal;
    font-family:"Lato",Verdana,Tahoma, sans-serif;
}
:root{
    --dark: rgb(53, 3, 49);
    --white: #fff;
    --lightgray: lightgray;
    --lightdarker: rgb(179, 99, 171);
    --lightbg: rgb(250, 245, 245);
}
.wrapper{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0.8rem;
}
body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
}

#bio, #works, #quote, #footer{
        padding: 3rem 0;

}
p{
    line-height: 1.8rem;
    margin-top: 0.2rem;
}
/* header styles */

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
   background-image: linear-gradient(55deg,
       hsla(240deg, 100%, 20%, 0.5) 0%,
       hsla(300deg, 71%,52%, 0.5) 50%,
       hsla(0deg, 42%,85%,0.5) 100%)
    ,
    url(achebelg.jpg);
    background-position:left;
    /* background-size: right; */
    background-repeat: no-repeat;
    background-attachment:fixed; 
}
header h1{
    font-size: 4rem;
    font-weight:bold;
    text-align:center;
    color: var(--white);
}
header p{
    font-size: 1.5rem;
    text-align:center;
    margin-top: 0.4rem;
}
header nav{
    margin-top: 4rem;
    
}

header nav a{
    display: inline-block;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dark);
    
}
header nav a:hover{
color: var(--white);
}

header #button{
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--dark);
    padding: 0.5rem 0.8rem;
}
header #button:hover{
    background-color: var(--lightdarker);
    color: var(--white);
}
/* #bio styles */

#bio h2, #quote h2, #works h2{
    text-align: center;
    padding-bottom: 1.5rem;
}
#bio .wrapper{
    display: flex;
}
#bio #tribute-info{
    padding-right: 2rem;
    line-height: 1.5rem;
}
#bio img{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
#img-caption{
    text-align: center;
}
#tribute-link{
    text-decoration:none;
    padding: 0.2rem;
    color: var(--dark);
    border-bottom: 1px solid var(--lightdarker);
}
#tribute-link:hover{
    background-color: var(--lightdarker);
    color: var(--white);
}

/* #quote styles */
#quote{
    background-color: var(--lightbg);
    text-align: right;
}



/* works styles */
#works{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

#works .wrapper{
    display:flex;
    justify-content: space-between;
}
#works h3{
    margin-bottom: 0.4rem;
    
}
#works #poems{
    text-align:right;
}
#works ul{
    list-style-type: none;
}
#works a{
    padding: 0.2rem;
    display: block;
    color:var(--dark);
    text-decoration: none;
    border-bottom: 1px dotted var(--dark);
}
#works a:hover{
    background:var(--lightdarker);
    color: var(--white);
}

 /* footer styles */

#footer{
    padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: var(--dark);
        color: var(--lightgray);
}

#footer .container{
    display: flex;
    justify-content: space-between;
}
#footer .container div{
    padding: 0 0.8rem;
}
#footer h4{
    padding-bottom: 0.2rem;
    text-transform: uppercase;
}
#footer ul{
    list-style-type:none;
}
#footer #about{
    width: 40%;
}
#footer p, #footer li{
    line-height: 1.4rem;
    font-size: 0.9rem;
    margin-top: 0;
}
#footer a{
    text-decoration: none;
    color: var(--lightdarker);
    font-size: 0.9rem;
    border-bottom: 1px dotted var(--white);
}
#footer a:hover{
    color: var(--white);
}


#topper{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: var(--lightdarker);
    display: none;
    align-items: center;
    justify-content: center;    
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    z-index: 99;
    color: var(--white);
    
}
#topper.show{
    display: flex;
}
#topper:hover{
    color: var(--dark);
}
#topper i{
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
 #bio .wrapper {
    flex-direction:column;    
 }
 #bio #tribute-info{
     padding: 0 0.2rem;
     text-align:justify;
 }

 #img-div{
     order:-1;
     margin-bottom: 0.8rem;
 }
 #tribute-link{
     display: block;
     width: 40%;
     margin: 1rem auto;
 }
 #quote{
     text-align: center;
 }
 #works .wrapper{
     flex-direction:column;
 }
 #works #poems {
     text-align: left;
     margin-top: 2rem;
 }
 #works h3{
     text-align:center;
 }

 #footer .container{
     flex-direction:column;

 }
 #footer .container div {
     margin-bottom: 1.5rem;
     text-align:center;
 }
 #footer #about {
     width: 100%;
 }
}