* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: normal;
    font-weight: normal;
    font-family:"Lato",Verdana,Tahoma, sans-serif;
}
:root{
    
}
.wrapper{
    max-width: 980px;
    margin: 0 auto;
}
body,
html {
    height: 100%;
}
html{
    scroll-behavior: smooth;
}

#bio, #works, #quote, #footer{
        padding: 5rem 0;

}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;    
}
header h1{
    font-size: 4rem;
}
header p{
    font-size: 1.5rem;
    text-align:center;
    margin-top: 0.4rem;
}
header nav{
    margin-top: 4rem;
}
header nav a{
    display: inline-block;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    
}

header #button{
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
}

/* #bio styles */
#bio{
    background-color: rgb(250, 245, 245);
    
}
#bio h2, #quote h2, #works h2{
    text-align: center;
    padding-bottom: 1.5rem;
}
#bio .wrapper{
    display: flex;
}
#bio #bio-text{
    padding-right: 2rem;
    line-height: 1.5rem;
}
#bio img{
    max-width: 100%;
    display: inline-block;
}


/* #quote styles */
#works{
    padding: 0 0.8rem;
}

#works .wrapper{
    display:flex;
    justify-content: space-between;
}
#works h3{
    margin-bottom: 0.4rem;
    
}
#works #poems{
    text-align:right;
}
#works ul{
    list-style-type: none;
}
#works a{
    padding: 0.2rem;
    display: block;
    color: gray;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}
#works a:hover{
    background: gray;
    color: white;
}

#footer{
        padding-bottom: 2rem;
}

#footer .container{
    display: flex;
    justify-content: space-between;
}
#footer .container div{
    padding: 0 0.8rem;
}
#footer h4{
    padding-bottom: 0.2rem;
}
#footer ul{
    list-style-type:none;
}
#footer a{
    text-decoration: none;
    border-bottom: 1px dotted lightgray;
}
#footer a:hover{
    color: black;
}